<!DOCTYPE html>
<html>
    <head>
        <title>My to do list</title>
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <div id="container">   
<div id="the-header" class="the-header" >
    <h1>To do list application</h1>
    <input type="text" id="the-input" name="task" placeholder="what to do...">
    <span onClick="createNewElement()" class="addBtn">Add</span>
</div>
    <ul id="the-ul">
        <li>Buy shoes<span</li>
        <li>Go for shopping</li>
        <li>Go to the gym</li>
        <li>Visit my friends</li>
        <li>learn Javascript</li>

    </ul>
    
</div>
<script src="script.js"></script>
    </body>
</html>
